<style>
    span{
        font-weight: bold;
        color: red;
        margin-right: 20px;
        float: right;
    }
</style>

<div class="container">
    <form ng-submit="doLogin()">
      <div class="form-group">
        <label for="">Teacher User Name:</label>
        <input type="text" class="form-control"ng-model="form.id" placeholder="Enter User Name" required>
      </div>
      <div class="form-group">
        <label for="pwd">Teacher Password:</label>
        <input type="password" class="form-control" ng-model="form.password" placeholder="Enter password" required><span>{{passworderr}}</span>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="remember"> Remember me</label>
      </div>
      <button type="submit" class="btn btn-default">Login</button>
      <span>Forgot <a href="#">password?</a></span>
    </form>
  </div>
  
