<form ng-submit="addstd()">
<table>
    <tr>
        <td><label for="">Student Name</label></td>
        <td><input type="text" ng-model="form.name"></td>
    </tr>
    <tr>
        <td><label for="">Student Roll. No.</label></td>
        <td><input type="text" ng-model="form.rollno"></td>
    </tr>
    <td><label for="">Student Department</label></td>
    <td><input type="text" ng-model="form.dept"></td>
    <tr>
        <td><label for="">Password</label></td>
        <td><input type="text" ng-model="form.psw"></td>
    </tr>
</table>
<button type="submit">Add Student</button>
</form>