
<div class="container">
  <form ng-submit="addstd()">
    <div class="form-group">
      <label for="">Student Name :</label>
      <input type="text" class="form-control" ng-model="form.name" placeholder="Enter Student Name" autocomplete autofocus required>
    </div>
    <div class="form-group">
        <label for="sel1">Student Department:</label>
        <select class="form-control" id="sel1" ng-model="form.dept" ng-required>
          <option >Civil Engineering</option>
          <option>Computer Science And Engineering</option>
          <option>Electrical Engineering</option>
          <option>Electronics And Communication Engineering</option>
          <option>Mechanical Engineering</option>
        </select>
        </div>
    <div class="form-group">
        <label for="">Student Roll No :</label>
        <input type="number" class="form-control" placeholder="Enter Student Roll No :" ng-model="form.roll" autocomplete required>
      </div>
      <div class="form-group">
        <label for="">Student Email:</label>
        <input type="email" class="form-control" placeholder="Enter Student Email :" ng-model="form.mail" autocomplete="" required>
      </div>
      <div class="form-group">
        <label for="">Student Mobile Number :</label>
        <input type="number" class="form-control" placeholder="Enter Student Mobile No :" ng-model="form.mob" autocomplete required>
      </div>
      <div class="form-group">
        <label for="">Password:</label>
        <input type="password" class="form-control"  placeholder="Enter Student Password" ng-model="form.password" required>
      </div>
    <div class="checkbox">
      <label><input type="checkbox" name="remember"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">Add Student</button>
  </form>
</div>


