    <div class="container">
  <form ng-submit="add()">
    <div class="form-group">
      <label for="">Teacher Name :</label>
      <input type="text" class="form-control" ng-model="form.name" placeholder="Enter Teacher Name">
    </div>

      <div class="form-group">
        <label for="sel1">Teacher Department:</label>
        <select class="form-control" id="sel1" ng-model="form.dept">
          <option >Civil Engineering</option>
          <option>Computer Science And Engineering</option>
          <option>Electrical Engineering</option>
          <option>Electronics And Communication Engineering</option>
          <option>Mechanical Engineering</option>
        </select>
        </div>
    <div class="form-group">
        <label for="">Teacher ID :</label>
        <input type="number" class="form-control" placeholder="Enter Teacher Id :" ng-model="form.id">
      </div>
      <div class="form-group">
        <label for="">Teacher Email:</label>
        <input type="email" class="form-control" placeholder="Enter Teacher Email :" ng-model="form.mail">
      </div>
      <div class="form-group">
        <label for="">Teacher Mobile Number :</label>
        <input type="number" class="form-control" placeholder="Enter Teacher Mobile No :" ng-model="form.mob">
      </div>
      <div class="form-group">
        <label for="">Password:</label>
        <input type="password" class="form-control"  placeholder="Enter Teacher Password" ng-model="form.pwd">
      </div>
    <div class="checkbox">
      <label><input type="checkbox" name="remember"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">Add Teacher</button>
  </form>
</div>


