<style>
         span{
            font-weight: bold;
            color: red;
            margin-right: 20px;
            float: right;
        }
    </style>
    
    <div class="container">
        <form ng-submit="doLogin()">
          <div class="form-group">
            <label for="">Admin User Name:</label>
            <input type="text" class="form-control"ng-model="form.uname" placeholder="Enter User Name" required>
          </div>
          <div class="form-group">
            <label for="pwd">Admin Password:</label>
            <input type="password" class="form-control" ng-model="form.psw" placeholder="Enter password" required><span>{{pwserro}}</span>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" name="remember"> Remember me</label>
          </div>
          <button type="submit" class="btn btn-default">Login</button>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </form>
      </div>
      